header {
    background-color: #bfa88f;
}

article > p {
  color: #8b5e34;
  font-weight: 500;
}
article ~ p {
  background-color: #f3efe6;
  padding: 8px;
  border-left: 3px solid #bfa88f;
}
.cartes-lotr {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
}
.carta {
  flex: 0 1 200px; 
  text-align: center;
}
.carta img {
  width: 100%;
}